*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family:  'Codec Cold Trial', sans-serif;
    background-color: rgb(53, 53, 53);
}

.container{
    padding: 10px 3%;
    position: sticky;
    top:0; 
    background-color: transparent;
}

.logo{
    display: flex;
    align-items: center;
    z-index: 1;
}
.logo h1{
    color:#fdfbf9;

}
.logo a{
    text-decoration: none;
}
.header-container{
    width: 100%; 
    height: 100vh; 
    background-image: url('../assets/images/BACKGROUND\ 1.1.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.header-container h1{
    margin-left: 1.25rem;
}

.header-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1px); /* Adjust the blur amount as needed */  
}
.nav-list{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
    top: 0; 
}
.nav-list a{
    text-decoration: none;
    color: #fdfbf9;
    font-size: 1.25rem;
    margin-right: 3.5rem;
    transition: color 0.3s ease;
}

.nav-list a:hover{
    color: #CB4F80; 


    
}
.nav-list ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.nav-list ul li a{
    color: #fdfbf9; 
    text-decoration: none;
    font-size: 1.2rem;
    position:relative;
    font-family: "Aharoni", sans-serif;
}

.header-text-container{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    margin-right:30rem;
    height: 31.25rem;
}
.header-text{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-text h2{
    color: #fdfbf9; 
    z-index: 100;
    font-size: 4rem;
}


.header-text p{
    color: #fdfbf9; 
    font-size: 1.5rem;
    z-index: 100;
    font-family: "Avenir Next Cyr", sans-serif;
}

.about-section{
    width: 100%; 
    height: 64rem;
    background-image: url("../assets/images/BACKGROUND\ 1.1\ blurred.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.about-img{
    width:21.875rem;
    height:21.875rem;
    background-image: url("../assets/images/ARTIST\ PICTURE\ 3.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    z-index: 1000;
    margin-bottom: 3.5rem;
}

.about-text{ 
    width: 25rem;
    height: 25rem;
    margin-left: 10rem;
    z-index: 1000;
}

.about-text h2{
    color: #fdfbf9; 
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: .625rem;
    text-align: center;
}

.about-text p{
    color: #fdfbf9;
    text-align: justify;
    font-size:  1.25rem;
    font-family:  "Avenir Next Cyr", sans-serif;
}

.work-section{
    width: 100%; 
    height: 205rem;
    display: flex;
    flex-direction: column;
    background-image: url("../assets/images/BACKGROUND\ 2.1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1.25rem;
}

.work-header{
    z-index: 1000;
}

.work-section h2{
    font-size: 3.5rem; 
    font-weight: 500;
    text-align: center;
    color: #fdfbf9;
}

.film-foley-works{ 
    padding: 10px 5%;
    z-index: 1000;
}

.film-foley-works h3{
    font-size: 2rem;
    font-weight: 300;
    font-family: "Avenir Next Cyr", sans-serif;
    color: #fdfbf9; 

}

.films-foley{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding-top: 1.25rem;
}



.film-foley-content{
    width: 15.625rem;
    height: 15.625rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}

.alab{
    background-image: url('../assets/images/Alab\ Sa\ Likod\ ng\ Tono.jpg');
    background-size: cover;
    background-position: center;
}

.doet{
    background-image: url("../assets/images/DOET.jpg");
    background-size: cover;
    background-position: center;
}

.liwat{
    background-image: url("../assets/images/Liwat\ Liwat.jpg");
    background-size: cover;
    background-position: center;
}

.menor{
    background-image: url("../assets/images/Menor.jpg");
    background-size: cover;
    background-position: center;
}

.oro{
    background-image: url("../assets/images/Oro\ Otro.jpg");
    background-size: cover;
    background-position: center;
}

.saloobin{
    background-image: url("../assets/images/Saloobin.jpg");
    background-size: cover;
    background-position: center;
}

.hiraya{
    background-image: url("../assets/images/Hiraya\ Sa\ Pandemya.jpg");
    background-size: cover;
    background-position: center;
}

.isla{
    background-image: url("../assets/images/Isla\ Del\ Fuego.jpg");
    background-size: cover;
    background-position: center;
}

.pinid{
    background-image: url("../assets/images/Pinid.jpg");
    background-size: cover;
    background-position: center;
}

.music{ 
    padding: 10px 5%;
    z-index: 1000;
    margin-top: 1.25rem;
}
.music h3{
    font-size: 2rem;
    font-weight: 300;
    font-family: "Avenir Next Cyr", sans-serif;
    color: #fdfbf9; 

}

.music-content-container{
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    padding-top: 1.25rem;
}

.music-content{
    width: 21rem;
    height: 21rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    margin-top: 1.5rem;
}
.music-content-container h4{
    color: #fdfbf9;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 1.5rem;
    text-align: center;
}


.extra{ 
    padding: 10px 5%;
    z-index: 1000;
}

.extra h3{
    font-size: 2rem;
    font-weight: 300;
    font-family: "Avenir Next Cyr", sans-serif;
    color: #fdfbf9; 

}

.extra h5{
    font-size: 1rem;
    font-weight: 300;
    font-family: "Avenir Next Cyr", sans-serif;
    color: #fdfbf9; 
    margin-top: 0.625rem;

}


.extra-content-container{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    padding-top: 1.25rem;
    flex-wrap: wrap;
}

.extra-content{
    width: 30rem;
    height: 15.625rem;
    background-image:url("../assets/images/BACKGROUND\ 2.2.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
}



button{
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-style: none;
    background-color:#28282B ;
    transition: background-color 0.5s ease;
}

button:hover{
    background-color: #fdfbf9;
}

button:hover h4{
    color: #28282B;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #333333;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 80%;
    z-index: 2000;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.content{ 
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
.content h4{
    color: #fdfbf9; 
    font-size: 2rem;
    font-family: "Avenir Next Cyr", sans-serif;
    margin-bottom: 5rem;
}

button h4{
    color: #fdfbf9; 
    font-size: 1rem;
    font-family: "Avenir Next Cyr", sans-serif;
}

.software-container{
    margin-top: 5rem;    
}

.software-content-container{
    margin-top: 3rem;
}


.software-one{
    background-image: url("../assets/images/Cakewalk.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.software-two{
    background-image: url("../assets/images/Soundcloud.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.software-three{
    background-image: url("../assets/images/Studio\ One.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.software-four{
    background-image: url("../assets/images/Premiere\ Pro.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.contact-content-container{
    width: 35%;
}

.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}
