@media (max-width: 1880px){
    .work-section{
        height: 223rem;
    }
}


@media (max-width: 1670px){
    .film-foley-content{
        width: 14rem;
        height: 14rem;

    }
    .header-text-container{
        margin-right: 20rem;
    }

    .work-section{
        height: 237rem;
    }
}


@media (max-width: 1440px){
    .film-foley-content{
        width: 10rem;
        height: 10rem;

    }

    .work-section{
        height: 228rem;
    }
    
}